@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-neutral-light font-display antialiased overflow-hidden;
  }
}

@layer components {
  .bento-border {
    border: 1px solid rgba(212, 178, 53, 0.2);
  }

  .scanline {
    width: 100%;
    height: 2px;
    background: rgba(212, 178, 53, 0.05);
    position: absolute;
    z-index: 50;
    pointer-events: none;
    animation: scan 6s linear infinite;
  }

  .glow-green {
    box-shadow: 0 0 8px #23d18b;
  }

  /* Scrollbar Customization */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #1a1a1a;
  }
  ::-webkit-scrollbar-thumb {
    background: #433d28;
    border-radius: 2px;
  }
}

@keyframes scan {
  0% {
    top: -20px;
  }
  100% {
    top: 105%;
  }
}
